name: Package Application with Pyinstaller
on:
  push:
    branches: [ pyinstaller ]
    tags:
    - '*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: PyInstaller Linux
      uses: JackMcKew/pyinstaller-action-linux@0.1.4
      with:
        path: src
        spec: kube-inverter-linux-x86_64.spec
    - name: Release
      uses: softprops/action-gh-release@v1
      # if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          src/dist/linux/kube-inverter-linux-x86_64
          src/dist/linux/kube-inverter-windows-x86_64
    # - name: PyInstaller Windows
    #   uses: JackMcKew/pyinstaller-action-windows@v0.1.2
    #   with:
    #     path: src
    #     spec: kube-inverter-windows-x86_64.spec
    # - name: Upload Linux x86_64
    #   uses: actions/upload-artifact@v2
    #   with:
    #     name: kube-inverter-linux-x86_64
    #     path: src/dist/linux/kube-inverter-linux-x86_64
    #     if-no-files-found: error
    # - name: Upload Windows x86_64
    #   uses: actions/upload-artifact@v2
    #   with:
    #     name: kube-inverter-windows-x86_64
    #     path: src/dist/windows/kube-inverter-windows-x86_64.exe
    #     if-no-files-found: error
