name: Package Application with Pyinstaller
on:
  push:
    branches: [ pyinstaller ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: PyInstaller Linux
      uses: JackMcKew/pyinstaller-action-linux@0.1.4
      with:
        path: src
        spec: kube-inverter-linux-x86_64.spec
    - name: PyInstaller Windows
      uses: JackMcKew/pyinstaller-action-windows@v0.1.2
      with:
        path: src
        spec: kube-inverter-windows-x86_64.spec
    - name: Upload Linux x86_64
      uses: actions/upload-artifact@v2
      with:
        name: kube-inverter-linux-v0.2.0
        path: dist/linux/kube-inverter-linux-x86_64
    - name: Upload Windows x86_64
      uses: actions/upload-artifact@v2
      with:
        name: kube-inverter-linux-v0.2.0
        path: dist/windows/kube-inverter-windows-x86_64
